name: Build

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-15-intel]
    steps:
      - uses: actions/checkout@v6
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: "pytest {project}"
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-wheel-${{ matrix.os }}
          path: ./wheelhouse/*.whl
          retention-days: 7

  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build SDist
      run: pipx run build --sdist
    - uses: actions/upload-artifact@v5
      with:
        name: artifact-sdist
        path: dist/*.tar.gz
        retention-days: 7

  upload_pypi:
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' }}
    steps:
    - uses: actions/download-artifact@v6
      with:
        pattern: artifact-*
        path: dist
        merge-multiple: true
    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
